<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmda | IMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/admin-lte/modernizr")*@


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <link href="~/Content/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/AdminRegistration.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/CustomDatetimePicker.js"></script>
    <script src="~/Scripts/CustomCommonScript.js"></script>
    <script type="text/javascript" src="~/Scripts/CountAssetsFunctions.js"></script>
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/tether.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/admin-lte/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="~/admin-lte/css/skins/skin-blue.min.css" rel="stylesheet" />
    <link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/css/footer_index.css" rel="stylesheet" />


    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @*<link rel="stylesheet" href="~/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css">*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->

    <link href="~/admin-lte/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/admin-lte/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    @*<script src="~/admin-lte/bower_components/jquery/dist/jquery.min.js"></script>

        <script src="~/admin-lte/bower_components/jquery-ui/jquery-ui.min.js"></script>*@
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- Bootstrap 3.3.7 -->
    @*<script src="~/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <!-- Morris.js charts -->
    <script src="~/admin-lte/bower_components/raphael/raphael.min.js"></script>
    <script src="~/admin-lte/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/admin-lte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/admin-lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/admin-lte/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/admin-lte/bower_components/moment/min/moment.min.js"></script>
    <script src="~/admin-lte/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/admin-lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/admin-lte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/admin-lte/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin-lte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/admin-lte/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/admin-lte/dist/js/demo.js"></script>

    <style type="text/css">
        .ListItemColor {
            color: darkcyan;
        }

        table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}
    </style>
</head>


<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"> <img height="50" width="50" src='@Url.Content("~/Image/gmda_logo_trans.png")' /><b>Admin</b> WBS</span>

            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account Menu -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="~/admin-lte/img/avatar.png" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->


                                    <span class="hidden-xs">Welcome @User.Identity.Name</span>


                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="~/admin-lte/img/avatar.png" class="img-circle" alt="User Image">

                                        <p>

                                            @User.Identity.Name
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">User</a>
                                            </div>

                                        </div>
                                        <!-- /.row -->
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer" style="background-color:lightseagreen">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="~/Account/Logout" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        }
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/admin-lte/img/avatar.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p> @User.Identity.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active treeview">
                        <a href="~/Views/WBS/Index.cshtml">
                            <i class="fa fa-home"></i> <span>Home</span>
                            @*<span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>*@
                        </a>
                        @*<ul class="treeview-menu">
                                <li class="active"><a href="index.html"><i class="fa fa-circle-o ListItemColor"></i> Dashboard v1</a></li>
                                <li><a href="index2.html"><i class="fa fa-circle-o ListItemColor"></i> Dashboard v2</a></li>
                            </ul>*@
                    </li>

                    <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user-plus "></i>
                                <span>Accordian</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                @*<li><a href="#" name="ManageUser_name"><i class="fa fa-edit ListItemColor"></i>Users Updation <i class="fa fa-edit "></i> <i class="fa fa-trash"></i> <i class="fa fa-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-circle-o ListItemColor"></i>Link-1</a></li>*@
                                <li><a href="~/WBSAdmin/indexDemoAccordian"><i class="fa fa-circle-o ListItemColor"></i>Show Accord</a></li>


                            </ul>
                        </li>


                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-user-o"></i>
                                <span>Show Asset Details</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#" name="panelboard_name"><i class="fa fa-circle-o ListItemColor"></i>Panel Board</a></li>
                                <li><a href="#" name="powerEquipment_name"><i class="fa fa-circle-o ListItemColor"></i>Power Equipments</a></li>
                                <li><a href="#" name="valve_name"><i class="fa fa-circle-o ListItemColor"></i>Valve</a></li>
                                <li><a href="#" name="pumpmotor_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Motor)</a></li>
                                <li><a href="#" name="pumpset_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Pump Set)</a></li>
                                <li><a href="#" name="pipe_name"><i class="fa fa-circle-o ListItemColor"></i>Pipe</a></li>
                                <li><a href="#" name="land_name"><i class="fa fa-circle-o ListItemColor"></i>Land</a></li>
                                <li><a href="#" name="wtp_name"><i class="fa fa-circle-o ListItemColor"></i>Water Treatment Plant</a></li>
                                <li><a href="#" name="storagetank_name"><i class="fa fa-circle-o ListItemColor"></i>Storage Tank</a></li>
                                <li><a href="#" name="building_name"><i class="fa fa-circle-o ListItemColor"></i>Building</a></li>



                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i>
                                <span>BASSAI</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a href="#" name="panelboard_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Panel Board</a></li>
                                <li><a href="#" name="powerEquipment_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Power Equipments</a></li>
                                <li><a href="#" name="valve_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Valve</a></li>
                                <li><a href="#" name="pumpmotor_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Motor)</a></li>
                                <li><a href="#" name="pumpset_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Pump Set)</a></li>
                                <li><a href="#" name="pipe_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Pipe</a></li>
                                <li><a href="#" name="land_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Land</a></li>
                                <li><a href="#" name="wtp_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Water Treatment Plant</a></li>
                                <li><a href="#" name="storagetank_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Storage Tank</a></li>
                                <li><a href="#" name="building_name_BASSAI"><i class="fa fa-circle-o ListItemColor"></i>Building</a></li>

                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i>
                                <span>Chandu Budhera</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a href="#" name="panelboard_name"><i class="fa fa-circle-o ListItemColor"></i>Panel Board</a></li>
                                <li><a href="#" name="powerEquipment_name"><i class="fa fa-circle-o ListItemColor"></i>Power Equipments</a></li>
                                <li><a href="#" name="valve_name"><i class="fa fa-circle-o ListItemColor"></i>Valve</a></li>
                                <li><a href="#" name="pumpmotor_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Motor)</a></li>
                                <li><a href="#" name="pumpset_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Pump Set)</a></li>
                                <li><a href="#" name="pipe_name"><i class="fa fa-circle-o ListItemColor"></i>Pipe</a></li>
                                <li><a href="#" name="land_name"><i class="fa fa-circle-o ListItemColor"></i>Land</a></li>
                                <li><a href="#" name="wtp_name"><i class="fa fa-circle-o ListItemColor"></i>Water Treatment Plant</a></li>
                                <li><a href="#" name="storagetank_name"><i class="fa fa-circle-o ListItemColor"></i>Storage Tank</a></li>
                                <li><a href="#" name="building_name"><i class="fa fa-circle-o ListItemColor"></i>Building</a></li>

                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i>
                                <span>Behrampur</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a href="#" name="panelboard_name"><i class="fa fa-circle-o ListItemColor"></i>Panel Board</a></li>
                                <li><a href="#" name="powerEquipment_name"><i class="fa fa-circle-o ListItemColor"></i>Power Equipments</a></li>
                                <li><a href="#" name="valve_name"><i class="fa fa-circle-o ListItemColor"></i>Valve</a></li>
                                <li><a href="#" name="pumpmotor_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Motor)</a></li>
                                <li><a href="#" name="pumpset_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Pump Set)</a></li>
                                <li><a href="#" name="pipe_name"><i class="fa fa-circle-o ListItemColor"></i>Pipe</a></li>
                                <li><a href="#" name="land_name"><i class="fa fa-circle-o ListItemColor"></i>Land</a></li>
                                <li><a href="#" name="wtp_name"><i class="fa fa-circle-o ListItemColor"></i>Water Treatment Plant</a></li>
                                <li><a href="#" name="storagetank_name"><i class="fa fa-circle-o ListItemColor"></i>Storage Tank</a></li>
                                <li><a href="#" name="building_name"><i class="fa fa-circle-o ListItemColor"></i>Building</a></li>

                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i>
                                <span>Dhanwapur</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a href="#" name="panelboard_name"><i class="fa fa-circle-o ListItemColor"></i>Panel Board</a></li>
                                <li><a href="#" name="powerEquipment_name"><i class="fa fa-circle-o ListItemColor"></i>Power Equipments</a></li>
                                <li><a href="#" name="valve_name"><i class="fa fa-circle-o ListItemColor"></i>Valve</a></li>
                                <li><a href="#" name="pumpmotor_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Motor)</a></li>
                                <li><a href="#" name="pumpset_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Pump Set)</a></li>
                                <li><a href="#" name="pipe_name"><i class="fa fa-circle-o ListItemColor"></i>Pipe</a></li>
                                <li><a href="#" name="land_name"><i class="fa fa-circle-o ListItemColor"></i>Land</a></li>
                                <li><a href="#" name="wtp_name"><i class="fa fa-circle-o ListItemColor"></i>Water Treatment Plant</a></li>
                                <li><a href="#" name="storagetank_name"><i class="fa fa-circle-o ListItemColor"></i>Storage Tank</a></li>
                                <li><a href="#" name="building_name"><i class="fa fa-circle-o ListItemColor"></i>Building</a></li>

                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i>
                                <span>Sector-51</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a href="#" name="panelboard_name"><i class="fa fa-circle-o ListItemColor"></i>Panel Board</a></li>
                                <li><a href="#" name="powerEquipment_name"><i class="fa fa-circle-o ListItemColor"></i>Power Equipments</a></li>
                                <li><a href="#" name="valve_name"><i class="fa fa-circle-o ListItemColor"></i>Valve</a></li>
                                <li><a href="#" name="pumpmotor_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Motor)</a></li>
                                <li><a href="#" name="pumpset_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Pump Set)</a></li>
                                <li><a href="#" name="pipe_name"><i class="fa fa-circle-o ListItemColor"></i>Pipe</a></li>
                                <li><a href="#" name="land_name"><i class="fa fa-circle-o ListItemColor"></i>Land</a></li>
                                <li><a href="#" name="wtp_name"><i class="fa fa-circle-o ListItemColor"></i>Water Treatment Plant</a></li>
                                <li><a href="#" name="storagetank_name"><i class="fa fa-circle-o ListItemColor"></i>Storage Tank</a></li>
                                <li><a href="#" name="building_name"><i class="fa fa-circle-o ListItemColor"></i>Building</a></li>

                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i>
                                <span>Sector-16</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a href="#" name="panelboard_name"><i class="fa fa-circle-o ListItemColor"></i>Panel Board</a></li>
                                <li><a href="#" name="powerEquipment_name"><i class="fa fa-circle-o ListItemColor"></i>Power Equipments</a></li>
                                <li><a href="#" name="valve_name"><i class="fa fa-circle-o ListItemColor"></i>Valve</a></li>
                                <li><a href="#" name="pumpmotor_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Motor)</a></li>
                                <li><a href="#" name="pumpset_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Pump Set)</a></li>
                                <li><a href="#" name="pipe_name"><i class="fa fa-circle-o ListItemColor"></i>Pipe</a></li>
                                <li><a href="#" name="land_name"><i class="fa fa-circle-o ListItemColor"></i>Land</a></li>
                                <li><a href="#" name="wtp_name"><i class="fa fa-circle-o ListItemColor"></i>Water Treatment Plant</a></li>
                                <li><a href="#" name="storagetank_name"><i class="fa fa-circle-o ListItemColor"></i>Storage Tank</a></li>
                                <li><a href="#" name="building_name"><i class="fa fa-circle-o ListItemColor"></i>Building</a></li>

                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i>
                                <span>NCR Channel</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a href="#" name="panelboard_name"><i class="fa fa-circle-o ListItemColor"></i>Panel Board</a></li>
                                <li><a href="#" name="powerEquipment_name"><i class="fa fa-circle-o ListItemColor"></i>Power Equipments</a></li>
                                <li><a href="#" name="valve_name"><i class="fa fa-circle-o ListItemColor"></i>Valve</a></li>
                                <li><a href="#" name="pumpmotor_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Motor)</a></li>
                                <li><a href="#" name="pumpset_name"><i class="fa fa-circle-o ListItemColor"></i>Pump Machinery (Pump Set)</a></li>
                                <li><a href="#" name="pipe_name"><i class="fa fa-circle-o ListItemColor"></i>Pipe</a></li>
                                <li><a href="#" name="land_name"><i class="fa fa-circle-o ListItemColor"></i>Land</a></li>
                                <li><a href="#" name="wtp_name"><i class="fa fa-circle-o ListItemColor"></i>Water Treatment Plant</a></li>
                                <li><a href="#" name="storagetank_name"><i class="fa fa-circle-o ListItemColor"></i>Storage Tank</a></li>
                                <li><a href="#" name="building_name"><i class="fa fa-circle-o ListItemColor"></i>Building</a></li>

                            </ul>
                        </li>*@
                    @* <li>
                            <a href="pages/widgets.html">
                                <i class="fa fa-th"></i> <span>Widgets</span>
                                <span class="pull-right-container">
                                    <small class="label pull-right bg-green">new</small>
                                </span>
                            </a>
                        </li>




                        @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Layout Options</span>
                                <span class="pull-right-container">
                                    <span class="label label-primary pull-right">4</span>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                                <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                                <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                                <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="pages/widgets.html">
                                <i class="fa fa-th"></i> <span>Widgets</span>
                                <span class="pull-right-container">
                                    <small class="label pull-right bg-green">new</small>
                                </span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-pie-chart"></i>
                                <span>Charts</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                                <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                                <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                                <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                            </ul>
                        </li>*@
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>UI Elements</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                                <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                                <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                                <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                                <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                                <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>Forms</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                                <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                                <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                            </ul>
                        </li>*@
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>Tables</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                            </ul>
                        </li>*@
                    @*<li>
                            <a href="pages/calendar.html">
                                <i class="fa fa-calendar"></i> <span>Calendar</span>
                                <span class="pull-right-container">
                                    <small class="label pull-right bg-red">3</small>
                                    <small class="label pull-right bg-blue">17</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/mailbox/mailbox.html">
                                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                                <span class="pull-right-container">
                                    <small class="label pull-right bg-yellow">12</small>
                                    <small class="label pull-right bg-green">16</small>
                                    <small class="label pull-right bg-red">5</small>
                                </span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-folder"></i> <span>Examples</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                                <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                                <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                                <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                                <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                                <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                                <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                                <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-share"></i> <span>Multilevel</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> Level One
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                        <li class="treeview">
                                            <a href="#">
                                                <i class="fa fa-circle-o"></i> Level Two
                                                <span class="pull-right-container">
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                            </ul>
                        </li>
                        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                        <li class="header">LABELS</li>
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <section class="container-fluid" id="renderbody">
                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.13
            </div>
            <strong>Copyright &copy; 2017 <a href="https://www.gmda.gov.in" target="_blank">Gurugram Metropolitan Development Authority </a>.</strong> All rights
            reserved.
        </footer>



    </div>

    @Scripts.Render("~/admin-lte/js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Script")
    @RenderSection("scripts", required: false)
    <!-- ./wrapper -->
    <!-- jQuery 3 -->

</body>
</html>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>

<script>



    $(document).on("click", "a[name='panelboard_name']", function (event) {
        event.preventDefault();
         $('#renderbody').load('@Url.Action("ShowPanelBoardDetails","WBSAdmin")');

    });

    $(document).on("click", "a[name='powerEquipment_name']", function (event) {
          event.preventDefault();
         $('#renderbody').load('@Url.Action("ShowPowerEquipment","WBSAdmin")');

     });

     $(document).on("click", "a[name='valve_name']", function (event) {
         $('#renderbody').load('@Url.Action("ShowValveDetails","WBSAdmin")');

     });

     $(document).on("click", "a[name='pumpmotor_name']", function (event) {
         $('#renderbody').load('@Url.Action("ShowWaterPumpMotor","WBSAdmin")');

     });

     $(document).on("click", "a[name='pumpset_name']", function (event) {
         $('#renderbody').load('@Url.Action("ShowPumpSetDetails","WBSAdmin")');

     });


     $(document).on("click", "a[name='pipe_name']", function (event) {
         $('#renderbody').load('@Url.Action("ShowPipeDetails","WBSAdmin")');

     });

     $(document).on("click", "a[name='land_name']", function (event) {
         $('#renderbody').load('@Url.Action("ShowLandDetails","WBSAdmin")');

     });

     $(document).on("click", "a[name='wtp_name']", function (event) {
         $('#renderbody').load('@Url.Action("WTPShowDetails","WBSAdmin")');

     });

     $(document).on("click", "a[name='storagetank_name']", function (event) {
         $('#renderbody').load('@Url.Action("ShowStorageTankDetails","WBSAdmin")');

     });

    $(document).on("click", "a[name='building_name']", function (event) {
        event.preventDefault();
         $('#renderbody').load('@Url.Action("ShowBuildingdetails","WBSAdmin")');

    });

     $(document).on("click", "a[name='ManageUser_name']", function (event) {
        event.preventDefault();
         $('#renderbody').load('@Url.Action("ManageUserWBS","WBS")');

     });



</script>