@model IMS_IMS_MODEL.ForgotPasswordViewModel

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />

<style>

    .glyphicon-user, .glyphicon-map-marker, .glyphicon-lock, .glyphicon-envelope {
        color: white;
    }

    #bgcolorspan {
        background-color: #b77237;
    }

    .required::after {
        margin: 2px;
        content: "*";
        color: red;
    }

    #containerdiv {
        height: 550px;
        width: 800px;
    }

    #MyForm {
        text-align: center;
    }

    .textAlign {
        text-align: left;
    }
</style>



@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    LoadingElementId = "progress",
    OnComplete = "OnComplete"
}, new { id = "ForgotPassword" }))

{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger ValidationSummary" })
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3 required" })
        <div class="input-group col-md-9">
            <span class="input-group-addon" id="bgcolorspan"><i class="glyphicon glyphicon-envelope"></i></span>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@gmail.com", @id = "inputEmail" } })

        </div>

    </div>
    <br />

    <div class="form-group">

        <div class="col-md-offset-3 col-md-6">
            <input type="submit" value="Submit" id="ForgotPassword" name="ForgotPassword" class="btn-block btn btn-primary" />

        </div>
        <br /><br />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    $("#container").width('650px').height('600px');

    function OnSuccess(result) {

        console.log(result);
        if (result.result == "Password Sent to Your Email Address") {

            toastr.success(result.result, "Message");
            //document.getElementById("MyFormCreateUserWBS").reset();
        }
        else if (result.result == "Internet Connection not Available") {

            toastr.warning(result.result, "Warning Message", { timeOut: 10000 });
            //document.getElementById("MyFormCreateUserWBS").reset();
        }

        else {

            toastr.error(result.result, "Error Occured", { timeOut: 10000 });
        }


    }


    function OnFailure() {

        toastr.error("Error Occured", "Error Message");


    }

    function OnComplete() {

        // document.getElementById("MyFormCreateUserWBS").reset();

    }



</script>

